body {
background-image: linear-gradient(to right, black, gray, black);
}
div {
 border-left: 6px linear-gradient(black, gray, black);
    background-color: white;
}

.poem {
 font-size: 350px;
 font-family: sans-serif;
 padding-top: 0;
}
.box1 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:10px;
}
.box2 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:50px;
    top:50px;
}
.box3 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:100px;
    top:100px;
}
.box4 {
    position:relative;
    width:250px;
    height:50px;
    background:transparent;
    color: white;
    left:150px;
    top:150px;
}
.box5 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:200px;
    top:200px;
}
.box6 {
    position:relative;
    width:250px;
    height:50px;
    background:transparent;
    color: white;
    left:200px;
    top:250px;
}
.box7 {
    position:relative;
    width:250px;
    height:50px;
    background:transparent;
    color: white;
    left:150px;
    top:300px;
}
.box8 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:100px;
    top:350px;
}
.box9 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:50px;
    top:400px;
}
.box10 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:10px;
    top:450px;
}
.box11 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:10px;
    top:500px;
}
.box12 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:50px;
    top:550px;
}
.box13 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:100px;
    top:600px;
}
.box14 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:150px;
    top:650px;
}
.box15 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:200px;
    top:700px;
}
.box16 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:200px;
    top:750px;
}
.box17 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:150px;
    top:800px;
}
.box18 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:100px;
    top:850px;
}
.box19 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:50px;
    top:900px;
}
.box20 {
    position:relative;
    width:200px;
    height:50px;
    background:transparent;
    color: white;
    left:10px;
    top:950px;
}


