
body { 

}

a:link, a:visited { 
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: (internal value);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}